*{ box-sizing: border-box;
    margin: 0;
    padding: 0;}
body{
background: #f4f4f4;}
.table{
     margin-top: calc(50vh - 100px);
	 margin-left: calc(50vw - 150px);
     width:300px;
     box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
     padding: 30px;
     }
.table--style{
     width: 100%;
     border-collapse: separate;
     border-collapse: collapse;}
     tr {font-size: 10px;
         font-family: Tahoma,Arial;
         font-size: 12px;
         border: 1px solid rgba(0,0,0,0.2);
         }
h3 span {
	float: right;
	cursor: pointer;
	}

ul {
	padding: 5px;
	overflow: hidden;
	margin:0;
   
	}
ul li {
	list-style-position: inside;
    list-style-type: none; 
	color: #5abd76;
	font-family: Tahoma,Arial;
    font-size: 12px;
    font-weight:600;
	}




   
  






